/* HIDE ALL SCROLLBARS */
::-webkit-scrollbar {
  display: none;
}

.flexy {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LIGHT THEME SETTINGS START */
.theme-light .card {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);
}

.theme-light .list {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);
}

.theme-light .page-content {
  background: #dffaff;
  background: #f5f9ff;

  /* background: OldLace; */
}

.theme-light .navbar-bg {
  background: white;
}

.theme-light .messages-content {
  background: #dffaff;
}

.theme-light .messages {
  background: #dffaff;
}

.theme-dark .shadow-card {
  background: #222;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);
}

.theme-light .shadow-card {
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);
}

/* LIGHT THEME SETTINGS END */

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 8px 0px;
}

.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}

/* Horizontal scroller */
.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: auto;
  margin: 0px;
  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper-flexbox::-webkit-scrollbar {
  display: none;
}

.wraplipse {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

ion-icon.bigger-icon {
  color: #03a9f4;
  /* color: orange; */
  font-size: 25px;
}

.gray-text {
  color: gray;
}

.news-card {
  border-radius: 10px;
  /* box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.05) !important; */
  /* margin-top: 10px !important; */
  /* background: #222; */
  /* background: rgba(0, 0, 0, 0.2); */
}

.news-card-header-pic .card-header {
  height: 51vw;
  background-size: cover;
  background-position: center;
  color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-icon {
  font-size: 18px;
}

.page-v-center {
  margin: 20px;
  margin-top: -150px;
}

.scroller-card .message-bubble {
  background: none;
  margin: 0px;
  padding: 0px;
  width: 94vw;
}

.circle-div {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8em;
  /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12); */
  border: 1px solid #333;
  background: white;
  color: black;
  margin: 10px;
}

.round-tag {
  /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12); */
  /* border: 1px dotted #336699; */
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 100px;
  width: 250px;
  margin: 5px;
}

.round-tag .circle-div {
  width: 75px;
  height: 75px;
}

.round-tag p {
  flex: 2;
  margin-right: 10px;
  width: 200px;
  font-size: 0.8em;
}

.round-rect .card-content {
  width: 150px;
  padding: 10px !important;
}

.code-heading {
  margin: 0px;
  padding: 2px;
  border-radius: 3px;
  background: white;
  color: black;
  /* font-size: 1.3em; */
  /* font-weight: bold; */
  text-align: center;
}

.stats-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 20px;
}

.stats-card > p {
  align-items: center;
  font-size: 2em;
  padding-bottom: 0px;
  color: dodgerblue;
  font-style: normal;
}

.stats-text {
  color: gray;
  margin-top: -30px;
}

.date-card {
  text-align: center;
  border: 1px solid #dcdcdc;
  padding: 5px;
  border-radius: 5px;
  height: 40px;
  align-self: flex-start;
}

.theme-dark .mock-block {
  background: none;
  padding: 10px;
  border-radius: 10px;
}

.theme-light .mock-block {
  /* background: white; */
  padding: 10px;
  border-radius: 10px;
}

.m10 {
  margin: 10px;
}

.m5 {
  margin: 5px;
}

.p10 {
  padding: 10px;
}

.p5 {
  padding: 10px;
}

/* .navbar-inner {
        background-color: greenyellow;
    } */

.block-title {
  font-size: 1.5em;
  /* color: dodgerblue; */
  font-weight: bold;
}

ion-icon.heading-icon {
  color: dodgerblue;
  font-size: 25px;
}

.nav-card .text-panel {
  flex: 1;
  padding: 5px 10px;
  padding-left: 25px;
}

.nav-card .big-para {
  font-size: 1.1rem;
  font-weight: bold;
  color: salmon;
}

.nav-card {
  margin: 10px;
  padding: 10px 20px;
  background: white;
  border-radius: 8px;
  /* border: 0.5px solid lightsalmon; */
}

.navbar-inner .title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-left: -3px;
}

.big-stat {
  font-size: 2rem;
  font-weight: bold;
}

.stats {
  background-color: white;
  padding: 10px;
  /* border: 0.5px solid lightsalmon; */
  border-radius: 8px;
  margin-bottom: 20px;
}

.prompt-card {
  min-height: 200px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}

.stats img {
  padding: 10px 10px;
}

.feed-item {
  margin: 10px;
  /* padding: 5px; */
  border-radius: 5px;
}

.feed-item .heading-title {
  padding: 20px;
  padding-bottom: 0px;
}

/* .feed-item .heading-row h4 {
  padding-left: 10px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
} */

.feed-item .feed-footer {
  color: gray;
  border-top: 0.5px dotted gray;
  /* background-color: red; */
  padding: 8px 15px;
  /* margin: 2px; */
}

.feed-item img {
  border-radius: 8px;
  /* max-width: 150px;
  min-width: 150px; */
  max-height: 200px;
  min-height: 200px;
  /* border: 1px solid black; */
  /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12); */
}

.feed-item p {
  padding: 5px 15px;
  text-align: left;
}

ion-icon.icon-for-bookmark {
  color: orange;
  font-size: 1.2rem;
}

ion-icon.tab-icon {
  /* color: orange; */
  font-size: 1.2rem;
}

.segmented-strong button {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.animage {
  width: 100%;
  margin: auto;
}

.dash-card {
  color: white;
}

.dash-card .dash-icon {
  color: white;
  font-size: 3em;
  margin: 5px 0px;
}

.dash-card .big-stat {
  font-weight: bold;
  font-size: 2em;
}

.s1 {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);
}

.prompt-bookmark {
  position: absolute;
  top: 30px;
  right: 10px;
  color: white;
  font-size: 1.5em;
}

.prompt-text {
  color: white;
}

/* START Interview Panel Styles */
.date-panel {
  padding: 5px;
}

.notes-panel {
  padding: 10px;
  flex: 1;
}

.theme-light .dw {
  background: #f5f5f5;
  padding: 18px;
  border-radius: 5px;
}

.theme-dark .dw {
  background: dodgerblue;
  border: 1px dotted white;
  padding: 18px;
  border-radius: 5px;
}

.bigT {
  font-size: 1.8em;
  font-weight: bold;
}

.titleT {
  font-size: 1.2em;
  font-weight: bold;
}

/* END Interview Panel Styles */

.theme-dark hr {
  border: 1px solid #333;
}

.theme-light hr {
  border: 1px solid #f5f5f5;
}

.activity-card {
  margin: 2px 10px;
  background: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
}
.text-panel {
  flex: 1;
  padding-left: 20px;
}
.activity-heading {
  font-weight: bold;
  font-size: 1.3em;
}
.img-circle-wrapper {
  width: 50px;
  height: 50px;
  border: 5px solid aqua;
  border-radius: 40px;
  background-color: white;
  /*   padding: 5px; */
}

.left-icon {
  width: 30px;
  stroke: rgb(255, 0, 0);
}

.hider {
  opacity: 0;
}
.chip {
  font-size: 1.3em !important;
  padding: 1.2em !important;
}
.cm img {
  width: 25px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 10px;
}
.rblock {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}
